.article-main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browser-container {
  display: flex;
  width: 10%;
  margin: 50px;
  height: 300px; /* Subject to change */
  transition: margin-right 0.3s ease; /* Transitioning margin-right */
}

.browser-container.open {
  margin-right: var(--sidebar-width);
}
