.article-main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.article {
  display: flex;
  width: 10%;
  margin: 50px;
  height: 300px; /* Subject to change */
  border: 1px solid #000;
  transition: margin-right 0.3s ease; /* Transitioning margin-right */
}

.article.open {
  margin-right: var(--sidebar-width);
}
