.citation-container {
    max-width: 70%;
    margin: 0 auto;
  }


  .citation-form .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }


  .citation-form .input-icon {
    margin-right: 10px;
  }
  
  .citation-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .citation-form {
    display: flex;
    width: 70%;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  input {
    position: relative;
    width: 1000px;
    padding: 10px 10px 10px 35px; /* Padding to make space for the icon */
    border: 4px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .submit-btn {
    border: black;
    border-radius: 20px;
    background-color: #FEA642;
    color: white;   
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-icon {
    top: 50%;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  
  .citation-result {
    width:100%;
    box-shadow: -2px 8px 20px 1px gray;
    border-radius: 10px;
    border: 2px solid #785595;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .radio-container {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-container-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
  
textarea {
    width: 70%;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #785595;
    resize: none;
    overflow: auto;
    resize: none;
  }

*:focus {
    outline: 0;
}


textarea::-webkit-scrollbar {
  -webkit-transform: translateX(-10px); /* Move scrollbar to the left */
  transform: translateX(-10px);
}

.edit-btn {
    margin: auto;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 8px;
    background-color: #785595;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .edit-btn .fa-edit {
    margin-right: 8px;
  }
  
  .error-message p {
    color: red;
    font-size: 14px;
  }
  


  .citation-style {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .citation-style label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  
  .citation-style input[type="radio"] {
    margin-right: 5px;
  }

  .contributors {
    display: flex;
    flex-direction: column;
  }

  .author-inputs {
    display: flex;
  }